
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(#44b17b, #a6ddbf);
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-wrap: wrap;
}


header {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to left, #44b17b, #a6ddbf);
    height: 80px; /* Aanpassen aan de gewenste hoogte van de header */
    transition: 2s; /* Overgangseffect van 2 seconden voor de achtergrondkleur */
    
}

header:hover {
    background-image: linear-gradient(to left, #a6ddbf, #44b17b); /* Omgekeerde kleurverloop bij hover */
    
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

nav ul li {
    margin-left: 10px;
    margin: 24px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #44b17b;
}
.dropdown {
    position: relative;
    display: inline-block;
    display: none;
    margin-right: 58px;


}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    width: 100px; /* Aanpassen aan de werkelijke grootte van het logo */
    margin-right: auto; /* Duwt het logo naar links */
    border: 0px solid #ff0000;
    border-radius: 36px;
}
.winkel {
    width: 50px; /* Aanpassen aan de werkelijke grootte van het winkelwagenpictogram */
    margin-top: 10px;
    margin-right: 10px; /* Ruimte tussen het pictogram en de rest van de navigatie */
}


main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    background-image: linear-gradient(#44b17b, #a6ddbf);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
    color: #44b17b;
}
.footer{
    margin-top: 100px;
}
form {
    max-width: 500px;
    margin: 20px auto;
    margin-bottom: 100px;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    box-sizing: border-box; /* Adds padding without increasing the total width or height of the element */
}

form button, form input[type="submit"]{
    background-color: #44b17b;
    color: white;
    border: none;
    cursor: pointer;
}
form button:hover, form input[type="submit"]:hover{
    background-color: #a6ddbf;
}


.product {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    border: 1px solid #44b17b;
    border-radius: 8px;
    text-align: center;
    width: 250px; /* Breedte van elk productblok */
}

.product img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.product h1 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.product h2 {
    border: 1px solid #3c3131;
    color: #131212;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 10px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.product a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.product a.wijzig {
    background-color: #44b17b;
    color: #ffffff;
}

.product a.verwijderen {
    color: #ffffff;
    background-color: #ff0000;
}

.product a:hover {
    background-color: #000000;
    color: #ffffff;
}
.wijzig{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #13874d;
}

.review {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #13874d;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto; /* Center the table */
    margin-bottom: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.toevoegen {
    display: block;
    width: 200px;
    padding: 10px;
    background-color: #44b17b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 auto;
}

.toevoegen:hover {
    background-color: #a6ddbf;
}

.over{
    padding: 20px;
    margin: 20px 20%
}
.box{
    height: 60vh;
    background-image: url(https://www.scooterkoning.com/wp-content/uploads/2023/02/banner-beter.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
    width: 100%;
    overflow-y: auto;
   
    
    
}
.home
    {
        font-family: "Protest Strike", sans-serif;
        background-color: rgba(255, 255, 255, 0.3);
        color: rgb(14, 11, 11);
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        width: 50%;
        margin:0 auto;
        border-radius: 20px;
        

    }
    .home h1{
        font-size: 30px;
    }
    


    .home a {
        display: block;
    width: 200px;
    padding: 10px;
    background-color: #44b17b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 auto;
    }

    .inlog{
        text-align: center;
        margin-top: 110px;
    }
    
    



    @media only screen and (max-width: 800px) {
        .dropdown {
            position: relative;
            display: inline-block;
    
        }
        li{
            display: none;
        }
        .h{
            display: initial;
        }




    }